<p>orders works!</p>
<div class="container flex-container">
  <div class="flex-element" *ngFor="let order of orders">
    <p>Order {{order.id}} - {{order.complexity}}</p>
    <!-- <p>CreationTime: {{order.creationGameTime /1000000000 | date:'mm:ss'}}</p>-->
    <p [ngClass]="{
    'competitive': order.competitive
    }">
      Competitive: {{order.competitive}}
    </p>
    <p>Deliver Period:</p>
    <p>{{order.deliveryPeriodBegin | toMs | date:'mm:ss'}} - {{order.deliveryPeriodEnd | toMs | date:'mm:ss'}}</p>
    <div class="cap" [ngClass]="{
    'black': order.cap == 'Black',
    'grey': order.cap == 'Grey'
    }">
    </div>
    <div class="ring" [ngClass]="{
    'yellow': order.ring3?.color == 'Yellow',
    'blue': order.ring3?.color == 'Blue',
    'orange': order.ring3?.color == 'Orange',
    'green': order.ring3?.color == 'Green'
    }" [hidden]="order.ring3 == null"></div>
    <div class="ring" [ngClass]="{
    'yellow': order.ring2?.color == 'Yellow',
    'blue': order.ring2?.color == 'Blue',
    'orange': order.ring2?.color == 'Orange',
    'green': order.ring2?.color == 'Green'
    }" [hidden]="order.ring2 == null"></div>
    <div class="ring" [ngClass]="{
    'yellow': order.ring1?.color == 'Yellow',
    'blue': order.ring1?.color == 'Blue',
    'orange': order.ring1?.color == 'Orange',
    'green': order.ring1?.color == 'Green'
    }" [hidden]="order.ring1 == null"></div>
    <div class="base" [ngClass]="{
    'silver': order.base == 'Silver',
    'black': order.base == 'Black',
    'red': order.base == 'Red'
    }"></div>
  </div>
</div>

