.cap {
  width: 100px;
  height: 20px;
}

.ring {
  width: 100px;
  height: 30px;
}

.base {
  width: 100px;
  height: 80px
}

.black {
  background-color: black
}

.grey {
  background-color: grey
}

.yellow {
  background-color: yellow
}

.green {
  background-color: green
}

.blue {
  background-color: blue
}

.orange {
  background-color: orange
}

.red {
  background-color: red
}

.silver {
  background-color: silver
}

.competitive {
  color: red
}

.flex-container {
  display: flex;
  flex-direction: row
}

.flex-element {
  flex-grow: 1
}

.flex-shrink {
  flex-shrink: 1
}
